<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'ValentinesCard/style.css' %}">
    </head>
    <body>
        <h1>Поздравляю с 14 февраля</h1>
        <h2>Так как в этот праздник ты один(а), подарок сделаю тебе я</h2>
        <a href="https://rt.pornhub.com/">Нажми на меня ❤️</a>
        <h2>Пусть хоть кото-то сосет в этот день</h2>
    </body>
</html>